body{
    background-color:#CAD5CA;
}
.app{
    width:60%;
    margin: 2rem auto; 
}

.header{
    white-space:pre-wrap;
    text-align:center;
    font-size:2rem;
    background-color:#211A1D;
    color:#CAD5CA;
    padding:10px;
    margin: auto 0;
}

.task ul{
    list-style-type:none;
    padding-inline-start: 0px;
}
.task h3{
    margin:0;
    padding:0;

}
.task ul li{
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:space-between;
    align-items: center;
    border-bottom:1px solid #5F7367;
    padding: 1rem 0;
    
}
time div{
    display:inline;
}
svg{
   margin-left:5px;
   cursor:pointer;
}
form{
    text-align:center;
    margin-top:1rem;
}
form input, button{
    background-color:#EAF2D7;
    border:1px solid #5F7367;

}
form input[type=text]{
    width:30%;
    height:1.5rem;

}
form input[type=time], form input[type=submit], button{
    line-height:1.5rem;
}
button{
    position:absolute;
    top:0;
    right:0;
}
.form-container{
    position:relative;
}